/* Dashboard.module.css */

/* Flex container for prompts */
.promptGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  justify-items: center;
  padding: 20px;
  background-color: #1a1a1a;
  max-height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
}

.noPrompt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  color: #666;
  font-size: var(--step-2);
}

/* Individual prompt item styled like a thumbnail */
.prompt {
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  height: 180px;
  /* Fixed height for the thumbnail */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.prompt:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.promptTitle {
  font-weight: bold;
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
}

.promptDescription {
  font-size: 14px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.deleteButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  display: none;
}

.prompt:hover .deleteButton {
  display: block;
}